body {
  font-family: "Arial";
  margin: 10pt;
}

h2 {
  color: blue;
}

.itineraries {
  border: 1px solid silver;
  border-collapse: collapse;
  font-size: 10pt;
  width: 100%;
}

.itineraries caption {
  font-size: 11pt;
  font-weight: bold;
  margin: 10pt 0 2pt;
  text-align: left;
}

.itineraries tr:nth-child(even) {
  background-color: rgb(245, 245, 245);
}

.itineraries td {
  --cell-padding: 3pt;

  padding: var(--cell-padding);
  position: relative;
}

.itineraries td:not(.link)::before {
  content: '&nbsp;';
  visibility: hidden;
}

.itineraries td>span {
  left: var(--cell-padding);
  overflow: hidden;
  position: absolute;
  right: var(--cell-padding);
  text-overflow: ellipsis;
  white-space: nowrap;
}

.modify-date {
  color: lightgray;
  text-align: right;
  width: 10%; /* 10% fits 'September 88, 8888' */
}

.name {
  color: black;
  width: 30%;
}

.notes {
  color: gray;
}

.itineraries .link {
  font-size: 9pt;
  padding: 0;
  width: 4%; /* 4% fits 'Link' with icon */
}

.link a {
  color: black;
  display: block;
  text-decoration: none;
}

.link a:hover {
  text-decoration: underline;
}

.link a img {
  margin-right: 2pt;
  vertical-align: middle;
}
