body {
  --color-blue: #004069;

  background-image: linear-gradient(90deg, #e6f7fa 0%, #fff 100%);
  color: #222;
  font-family: Verdana, sans-serif;
  margin: 15pt;
}

h2 {
  color: var(--color-blue);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  font-weight: bold;
  letter-spacing: 2pt;
  margin-bottom: 15pt;
  text-align: center;
  text-shadow: 1pt 1pt 4pt rgba(0, 0, 0, 0.25);
  text-transform: uppercase;
}

.itineraries {
  border-collapse: collapse;
  border-radius: 9pt;
  box-shadow: 0 5pt 15pt rgba(0, 0, 0, 0.15);
  font-size: 11pt;
  overflow: hidden; /* For rounded corners */
  width: 100%;
}

.itineraries caption {
  color: var(--color-blue);
  font-size: 13pt;
  font-weight: bold;
  margin: 15pt 0 5pt;
  text-align: center;
  text-transform: uppercase;
}

.itineraries tr:nth-child(even) {
  background-color: rgb(245, 245, 245);
}

.itineraries td:not(.link) {
  --cell-padding: 3pt;

  padding: var(--cell-padding);
  position: relative;
}

.itineraries td:not(.link)::before {
  content: '&nbsp;';
  visibility: hidden;
}

.itineraries td>span {
  left: var(--cell-padding);
  overflow: hidden;
  position: absolute;
  right: var(--cell-padding);
  text-overflow: ellipsis;
  white-space: nowrap;
}

.modify-date {
  color: lightgray;
  text-align: right;
  width: 10%; /* 10% fits 'September 88, 8888' */
}

.name {
  color: black;
  width: 30%;
}

.notes {
  color: gray;
}

.itineraries .link {
  font-size: 9pt;
  padding: 0 3pt 0 0;
  width: 4%; /* 4% fits 'Link' with icon */
}

.link a {
  color: black;
  display: block;
  text-decoration: none;
  white-space: nowrap;
}

.link a:hover {
  text-decoration: underline;
}

.link a img {
  margin-right: 2pt;
  vertical-align: middle;
}
